body {
    background-color: #035A6D;
    color: white;
}

.Navbar {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    justify-content: space-between;
    width: 45vw;
    margin: auto;
    margin-top: 37px;
}

a {
    text-decoration: none;
    color: white;

    text-transform: uppercase;
    padding: 20px 0px;
    position: relative;
}

.socials {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
    height: 45vh;
    margin-right: 2em;
    margin-top: 9em;

}

.centre {
    display: flex;
    flex-direction: row;
}
.content {
    margin-left: 9em;
    margin-top: 5em;
}

.content h1 {
    font-size: 70px;
}

.content p {
    font-size: 37px;
    margin-left: 12em;
    margin-top: 3em;
    padding-right: 5em;
    text-align: center;
    color: #ABE7E8;
}

a::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #ABE7E8;
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

a:hover::before {
    bottom: 10px;
    opacity: 1;
}