<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/all.min.css">

    <title>Home</title>
</head>

<body>
    <div class="Navbar">
        <a href="index.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
    </div>

    <div class="centre">
        <div class="content">
            <h1>Hugo Lapa</h1>
            <p>A computer science student who is trying to specialise in software development.</p>
        </div>

        <div class="socials">
            <i class="fab fa-linkedin fa-5x"></i>
            <i class="fab fa-twitter fa-5x"></i>
            <i class="fab fa-github fa-5x"></i>
        </div>
    </div>
</body>

</html>